.input-field {
  display: flex;
  flex-direction: column;
  .label {
    display: flex;
    gap: 4px;
    .input-text {
      color: white;
    }
    .asterisk {
      color: red;
    }
  }
  .text-area {
    resize: none;
  }
  .input {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .error-text {
    height: 20px;
  }
}
